body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 13px;
    color: #636363;
    background: #1E222B;
}

.box-items h1{
    font-size: 22px;
    font-weight: 300;
    color: #7A8293;
}
.box-items{
    margin-top: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:39px;
    border-bottom: 1px solid #000;
}

.max-width-wrapper {
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3, h4, li, ol, ul {
    margin: 0;
    list-style: none;
    -webkit-padding-start: 0;
}

.container_menu{
    width: 100%;
    margin: 0 auto;
    height:57px;
    background: #262b36;
}

.container_menu_wrapper {
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 57px;
    display: flex;
    align-items:center;
    flex-direction: row;
}

.image{
    width: auto;
    height: 32px;
}

.liens,.liens1{
    padding: 22px 20px;
    float: left;
    color: #7A889D;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    font-family:Helvetica,Arial,sans-serif;
}

.section{
    display: flex;
}

.liens:hover,.liens1:hover{
    background-color:#222027
}

.liens:hover{
    color:#fff;
}

.liens1{
    color: #6ba2e0;
}

.recherche {
    color: rgba(255,255,255,.8);
    background-color: #8BBDE0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 15px;
    float: left;
    width:13px;
    height:19px;
    text-decoration: none;
}


.like {
    color: rgba(255,255,255,.8);
    background-color: #1F1F27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 15px;
    float: left;
    width:20px;
    height:19px;
    text-decoration: none;
}
.container_left{
    border:1px solid black;
    margin:1% 0 15px;
    color:#FFF;
    border:1px solid black;
    width: 200px;
}

.categories_titre{
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 15px;
    color: #7A8293;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.listes {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.listes:before{
    content: "\f10c";
    margin-right: 10px;
    margin-top: 2px;
    color: #000;
}

/* SECTION */

#container{
    margin:1% 0;
    color:#FFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.containerAllFilms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.containerall{
    display: flex;
    width: 20%;
    flex-grow: 0;
    min-width: 109px;
}

.containerAllFilms{
    display: flex;
    width:100%;
    flex-direction: row;
}

.image_site{
    width: 100%;
}
.bas{
    margin:auto;
}

.bas h2{
    float: left;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    height: 17px;
    margin-top: 7px;
    color: #7A8293;
    text-align: center;
}

.bas h3{
    float: left;
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    height: 17px;
    margin-top: 10px;
    color: #7A8293;
    text-align: center;
}

.lien_hypertexte{
    width: 70%;
}

.image_site{
    width:100%;
}