body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 13px;
    color: #636363;
    background: #1E222B;
}

.max-width-wrapper{
    width:1000px;
    margin:auto;
}

.section{
    max-width:100%;
    margin:2% auto;
}

.containerRechercheEtAime{
    display: flex;
    flex-direction: row;
}

.logo_affiche_premiere_film{
    width:100%;
    border-radius: 3px;
}

.containerFilmInfo{
    width: 60%;
    display: flex;
    flex-direction: row;
    background-color: #2C2C3A;
    border-radius: 3px;
}

.containerFilmCategorie{
    display: flex;
    width:1000px;
    flex-direction: row;
    justify-content: space-between;
}


.image{
    width:30%;
    height:auto;
}

.Info{
    margin-left: 2%;
    width:100%;
}

.container_left{
    display: flex;
    flex-direction: column;
    width:30%;
}

ul{
    margin: 0;
    list-style: none;
    -webkit-padding-start: 0;
}

.container_left ul li{
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.menu{
    margin-top:2%;
    margin-bottom: 2%;
    width:60%;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Rating, .AnneeDeSortie, .DureeDuFilm{
    border:1px solid black;
    border-radius: 3px;
    width:20%;
    text-align: center;
}

.categorie a{
    color:#fff;
    text-decoration: none;
}

.infosGlobal{
    width:90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.logoGeneral{
    width:100%;
    height:auto;
}

.positionContainerImage{
    width:4%;
    margin : 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerImage{
    width:100%;
}


.realisation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.realisation p{
    margin-left:1%;
    font-size: 13px;
    color:#88869F;
}
.realisation a{
    color:#fff;
    text-decoration: none;
}
