form{
    width:100%;
}

#formulaire_films{
    display: flex;
    justify-content: flex-start;
    width:100%;
    text-align: center;
    margin:auto;
}
.containerAll{
    padding-top: 2%;
    padding-bottom: 2%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
}

.film{
    display: flex;
    flex-direction: column;
}


.send{
    padding-top: 2%;
    padding-bottom: 2%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width:100%;
}

#form_DateDeSortie{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}
#form_During{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form_quality{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form_urlImage{
    width:100%;
    height:15px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#form_Titre{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form_Realisation{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

select {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-align-last: center;
    width:100%;
}


#form_PaysDOriginie{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-align-last: center;
    width:100%;
}

#form_Vues{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-align-last: center;
    width:100%;
}

#form_Synopsis{
    width:100%;
    height:15px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form_Rating{
    width:100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#form_BandeAnnonce{
    width:100%;
    height:15px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form_UrlFilm{
    width:100%;
    height:15px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#for_Acteurs{
    width:100%;
    height:15px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}