body {
    margin: 0;
    padding: 0;
}

#container{
    color:#FFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width:1000px;
}

.containerFilms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.imageFilm{
    width: 100px;
    height:200px;
    display: block;
}
.max-width-wrapper {
    max-width: 1000px;
    margin: auto;
}

.max-width-wrapper:nth-child(2){
    margin:auto;
}

.containerAllFilms{
    color:#FFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
}


.section{
    display: flex;
    flex-direction: row;
    margin:auto;
}
.films{
    width:100%;
    display: flex;
    flex-direction: row;
}

.films a{
    text-align: center;
    text-decoration: none;
    color:#fff;
}