{% extends 'baseFilm.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/baseFilm.accueil.css') }}">
{% endblock %}
{% block section %}
    <div id="containerGeneral">
        <div class="containerFilmCategorie">
            <div class="containerFilmInfo">
                <div class="image">
                    <img src="{{ film.UrlImage }}" class="logo_affiche_premiere_film">
                </div>
                <div class="Info">
                    <div class="titre">
                        <h1>
                            {{ film.Titre }}
                        </h1>
                    </div>
                    <div class="menu">
                        <div class="Rating">
                            {{ film.rating }}
                        </div>
                        <div class="AnneeDeSortie">
                            {{ film.DateDeSortie }}
                        </div>
                        <div class="DureeDuFilm">
                            {{ film.During }} min
                        </div>
                        <div class="categorie">
                            <a href="/categories/find/{{ film.categories.Id }}">
                                {{ film.categories.CategoriesName }}
                            </a>
                        </div>
                    </div>
                    <div class="infosGlobal">
                        <div class="realisation">
                            <div class="positionContainerImage">
                                <div class="containerImage">
                                    <img src="{{ asset('image_affiche_film/megaphone.png') }}"  class="logoGeneral">
                                </div>
                            </div>
                            <p>
                                Réalisation :
                                <a href="">
                                    {{ film.Realisation }}
                                </a>
                            </p>
                        </div>
                        <div class="realisation">
                            <div class="positionContainerImage">
                                <div class="containerImage">
                                    <img src="{{ asset('image_affiche_film/star2.png') }}"  class="logoGeneral">
                                </div>
                            </div>
                            <p>
                                Avec Acteur :
                                <a href="">
                                    {{ film.acteurs.FirstName }} {{ film.acteurs.SurName }}
                                </a>
                            </p>
                        </div>
                        <div class="realisation">
                            <div class="positionContainerImage">
                                <div class="containerImage">
                                    <img src="{{ asset('image_affiche_film/network.png') }}"  class="logoGeneral">
                                </div>
                            </div>
                            <p>
                                Pays d'origines : {{ film.PaysDOriginie }}
                            </p>
                        </div>
                        <div class="realisation">
                            <div class="positionContainerImage">
                                <div class="containerImage">
                                    <img src="{{ asset('image_affiche_film/icon-eyes.png') }}"  class="logoGeneral">
                                </div>
                            </div>
                            <p>
                                {{ film.Vues }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_left">
                <p class="categories_titre">Catégories :</p><br>
                <ul>
                    {% for categories in categories %}
                        <li class="listes">
                            <a href="/categories/find/{{ categories.Id }}">{{ categories.CategoriesName }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}