{% extends 'baseFilm.html.twig' %}


{% block section %}
    <div id="formulaire_films">
        {{ form_start(form) }}
        <div class="containerAll">
            <div class="film">
                {{ form_row(form.Titre) }}
                {{ form_row(form.urlImage) }}
                {{ form_row(form.Realisation) }}
                {{ form_row(form.DateDeSortie) }}
                {{ form_row(form.During) }}
                {{ form_row(form.Synopsis) }}
            </div>
            <div class="categories">
                {{ form_row(form.Categories) }}
            </div>
            <div class="Vue">
                {{ form_row(form.PaysDOriginie) }}
                {{ form_row(form.Vues) }}
                {{ form_row(form.Rating) }}
                {{ form_row(form.quality) }}
                {{ form_row(form.BandeAnnonce) }}
                {{ form_row(form.UrlFilm) }}
            </div>
        </div>
        <div class="send">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block stylesheetFilms %}
    <script src="{{ asset('javascript/createFilm.js') }}"></script>
{% endblock %}