{% extends 'baseActeur.html.twig' %}


{%  %}
{% block section %}

    <h1>
        Pour supprimer un acteur il faut que ce dernier n'ai pas fais de film<br>
        To delete an actor it's necessary that the latter don't make a film<br><br>
    </h1>
    {% for acteur in acteurs %}
        Acteurs : {{ acteur.Surname }} {{ acteur.FirstName }}
        <a href="/acteurs/update/{{ acteur.Id }}">Modification d'acteurs</a>
        <a href="/acteurs/delete/{{ acteur.Id }}">Suppression d'acteurs</a>
    {% endfor %}
{% endblock %}