{% extends 'base.html.twig' %}
{% block section %}
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <a href="/contact">Page précédente</a>
{% endblock %}