{% extends 'base.html.twig' %}
{% block title %}Film Streaming HD gratuit complet {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('style/readByOne.categorie.css') }}">{% endblock %}

{% block section %}
    <div id="container">
        <div class="title">
            <h1>
                {{ categorie.CategoriesName }}
            </h1>
        </div>
        <div class="containerAllFilms">
            {% for film in films %}
                <a href="/films/select/{{ film.id }}">
                    <div class="containerFilms">
                        <img src="{{ film.url_image }}" class="imageFilm">
                        <h3>{{ film.titre }}</h3>
                        <h4>{{ film.date_de_sortie }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block listes %}
    {% for categorie in categories %}
        <li class="listes"><a href="/categories/find/{{ categorie.Id }}">{{ categorie.CategoriesName }}</a></li>
    {% endfor %}
{% endblock %}