{% extends 'base.html.twig' %}

{% block title %}Categories names{% endblock%}
{% block section %}
    <table>
        <tr>
            <td>Toutes les catégories :</td>
        </tr>
    {% for categorie in allCategories %}
        <tr>
            <td>{{ categorie.CategoriesName }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}