<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('style/accueil.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ asset('image_logo/favicon.png') }}" type="image/x-icon" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <div class="container_menu">
        <div class="max-width-wrapper container_menu_wrapper">
            <div class="logo">
                <a href="/" target="_BLANK">
                    <img class="image" src="{{ asset('image_logo/logo_site.png') }}">
                </a>
                <div>
                    <a href="/" class="liens1">ACCUEIL</a>
                </div>
                <div>
                    <a href="#" class="liens">SÉRIES Tv</a>
                </div>
                <div>
                    <a href="#" class="liens">Derniers Episode</a>
                </div>
                <div>
                    <a href="#" class="liens">Contact us</a>
                </div>
            </div>
            <div class="containerRechercheEtAime">

                <a href="#" class="like">
                    <i class="fas fa-share-alt"></i>
                </a>
                <a href="#" class="recherche">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="max-width-wrapper">
    <div class="section">
        {% block section %}
        {% endblock %}
        <div class="container_left">
            <p class="categories_titre">Catégories :</p><br>
            <ul>
                {% block listes %}{% endblock %}
            </ul>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>