<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('style/accueil.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ asset('image_logo/favicon.png') }}" type="image/x-icon" />
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{{ asset('image_logo/favicon.png') }}" type="image/x-icon" />
        <title>{% block title %}Films{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container_menu">
                    <div class="max-width-wrapper">
                        <div class="max-width-wrapper container_menu_wrapper">
                            <div class="logo">
                                <a href="https://filmzenstream.to/" target="_BLANK">
                                    <img class="image" src="{{ asset('image_logo/logo_site.png') }}">
                                </a>
                                <div>
                                    <a href="/" class="liens1">ACCUEIL</a>
                                </div>
                                <div>
                                    <a href="#" class="liens">SÉRIES Tv</a>
                                </div>
                                <div>
                                    <a href="#" class="liens">Derniers Episode</a>
                                </div>
                                <div>
                                    <a href="#" class="liens">Contact us</a>
                                </div>
                            </div>
                            <div class="containerRechercheEtAime">

                                <a href="#" class="like">
                                    <i class="fas fa-share-alt"></i>
                                </a>
                                <a href="#" class="recherche">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="max-width-wrapper">
            <div class="section">
                {% block section %}{% endblock %}
            </div>
        </div>
        <article>
            <div class="resume_bandeAnnonce">
                <div class="resume">
                    {% block resume %}
                    {% endblock %}
                </div>
                <div class="bandeAnnonce">
                    {% block bandeAnnonce %}
                    {% endblock %}
                </div>
            </div>
        </article>
        {#<div class="footer">#}
            {#<div>#}
                {#Film streaming HD gratuit complet © 2017 All rights reserved#}
            {#</div>#}
            {#<div>#}
                {#About- DMCA - Film haute qualité streaming gratuit complet Compteur online#}
            {#</div>#}
        {#</div>#}
    </body>
</html>