<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acteurs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/accueil.css') }}">
    {% block stylesheets_acteurs %}{% endblock %}
</head>
<body>
    <header>
        <div class="container_menu">
            <div class="logo">
                <a href="https://filmzenstream.to/" target="_BLANK">
                    <img class="image" src="{{ asset('image_logo/logo_site.png') }}">
                </a>
                <div>
                    <a href="/" class="liens1">ACCUEIL</a>
                </div>
                <div>
                    <a href="#" class="liens">SÉRIES Tv</a>
                </div>
                <div>
                    <a href="#" class="liens">Derniers Episode</a>
                </div>
                <div>
                    <a href="#" class="liens">Contact us</a>
                </div>
            </div>
            <div class="containerRechercheEtAime">

                <a href="#" class="like">
                    <i class="fas fa-share-alt"></i>
                </a>
                <a href="#" class="recherche">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </header>
    <section>
        {% block section %}{% endblock %}
    </section>
</body>
</html>