{% extends 'base.html.twig' %}

{% block title %}Film Streaming HD gratuit complet {% endblock %}

{% block section %}
    <div id="container">
        <div class="box-items">
           <h1>Nouveaux film Streaming 2018</h1>
        </div>
        <div class="containerAllFilms">
            {% for film in allFilms %}
                <div class="containerall">
                    <a class="lien_hypertexte" href="/films/select/{{ film.Id }}">
                        <div class="allFilm">
                            <div class="haut">
                                <div class="images">
                                    <img class="image_site" src="{{ film.UrlImage }}"/>
                                </div>
                            </div>
                            <div class="bas">
                                <div>
                                    <h2>
                                        {{ film.Titre }}
                                    </h2>
                                </div>
                                <div>
                                    <h3>
                                        {{ film.DateDeSortie }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block listes %}
    {% for categorie in allCategories %}
        <li class="listes">
            <a href="/categories/find/{{ categorie.Id }}">
                {{ categorie.CategoriesName }}
            </a>
        </li>
    {% endfor %}
{% endblock %}